body { margin: 0; padding: 0; }
#popupcontent { background: white; margin: 0; padding: 2em; }
#header, #site-info { margin: 0; padding: 1em 2em; width: auto; float: none; }
#header .site-name, #header .site-name { margin: 0; padding: 0; width: auto; float: none;}
